<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
            <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site uses data from mapbox and weatherstack to provide real time weather details of any location</p>
        
        <img class="portrait" src="/img/company.jpg" alt="">
        </div>
     {{>footer}}   
    </body>
    
</html>